* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
}

#container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.full-page {
    /* width: 100%; */

    height: 180px;
    margin: auto;
    margin-top: 15px;
}

.margin-border {
    /* width : 100%; */
    height: 180px;
    margin: auto;
}

.content {
    max-width: 100%;
    background-color: grey;
    color: whitesmoke
}

ul {
    height: inherit;
    margin: auto;
    list-style: none;
    transform: translateX(0px);
    will-change: transform;
    
}

.full-page ul {
    transition: transform 0.8s ease;
}

.margin-border ul {
    transition: transform 0.4s ease;
}

li {
    height: 90%;
    background-color: lightseagreen;
    color: white;

    text-align: center;
    position: absolute;
    vertical-align: middle;
    line-height: 165px;
    font-family: 'Fontdiner Swanky';font-size: 26px;
}

.full-page li {
    width: 100%;
    -webkit-transform:translate3d(0,0,0);
}

.margin-border li {
    border: 2px solid darkslategray;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: 70%;
    min-width: 270px;
}

.margin-border li:nth-child(3) {
    background-color: pink;
    color: black;
}
.margin-border li:nth-child(8) {
    background-color: pink;
    color: black;
}

#buttonStyle {
    position: absolute;
    width: 50%;
    z-index: 2;
    margin-top: 60px;
}

button {
    font-weight: bold;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid darkslategray;
    background-color: azure;
    font-size: 30px;
    border-radius: 5%;
    color: black;
    opacity: 0.9;
}

.next {
    float: right;
    margin-right: -25px;
}

.prev {
    float: left;
    margin-left: -25px;
}

@media only screen and (max-width: 1400px) {
    #container, #buttonStyle {
        width: 80%;
    }
}