* {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 50%;
    min-width: 300px;
    height: 104px;
    margin: auto;
    overflow: hidden;
       background-color: grey;
}

#ulContainer {
    max-width: 80%;
    min-width: 80%;
    height: inherit;
    margin: auto;
}

.content {
    max-width: 100%;
    background-color: grey;
    color: whitesmoke
}

ul {
    height: inherit;

    margin: auto;
    list-style: none;
    transition: transform 0.5s ease;
    transform: translateX(0px);
    will-change: transform;
}

li {
    height: 100px;
     border: 2px solid black; 
     /* enable option to set specific width */
    float: left;
    background-color: lightseagreen;
    color: white;
    font-size: 25px;
    text-align: center;
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
}

#buttonContainer {
    max-width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
}

#buttonContainer button:nth-child(1) {
    width: 100px;
    height: 50px;
    float: left;
}

#buttonContainer button:nth-child(2) {
    width: 100px;
    height: 50px;
    float: right;
}